.hero__button {
    display: block;
    position: absolute;
    right: -30px;
    bottom: -10px;
    text-transform: uppercase;
    padding: 13px 24px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 2px 25px 0 rgba(0, 0, 0, 0.1);

}

.hero__button a {
    position: relative;
    top: 20%;
}

.hero__button-arrow {
    text-align: right;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    right: 2%;
}

.testimones__button {
    display: block;
    position: absolute;
    text-align: center;
    right: -48px;
    width: 233px;
    bottom: -10px;
    padding: 15px 28px;
    background-color: white;
    color: black;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 1px 4px 25px 0 rgba(0, 0, 0, 0.1);
}
.testimones__button-arrow {
    text-align: right;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    right: 2%;
}

.occupation__button-container {

    margin-left:15px;
    margin-top: 40px;
    grid-column: 7;
    grid-row: 7/8;
    display: grid;

    z-index: 1;
    grid-template-columns: 1fr 1fr;
    width:98px;
}
.occupation__button-left {
    margin-left:5px;
    height: 33px;
    width: 38px;
    color: white;
    background-color: #0075c8;
    border:none;
    font-size:20px;
}

.occupation__button-right {
    height: 33px;
    width: 38px;
    color: white;
    background-color: #0075c8;
    border:none;
    font-size:20px;

}




@media(max-width:768px) {



    .hero__button {
        right: 25%;
        width: 50%;
        bottom: none;

    }
    .testimones__button {
        right: 55%;
        bottom: 22%;
        grid-column: none;
        width: 31%;
    }
}

@media(max-width:361px) {
    a {
        font-size: 15px;
    }

    .hero__button {
        width: 126px;
    }

}