.section-employees {
    width: 75%;
    max-width: 950px;
    margin: 0 auto;

}

.employees__grid {

    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 0.5fr));
    grid-template-rows: repeat(2, 0.5fr);
    grid-row-gap: 100px;
}

.employee__profile {

    text-align: center;
    justify-content: center;
    max-height:220px;
}

.employee__img {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    background-size: contain;
    max-width: 218px;
    max-height: 218px
}

.employee__textbox {
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    width: 100%;
    position: relative;
    padding: 10px;
    text-align: left;
 
}

.employee__textbox::before {
    left: 0px;
    top: 0;
    position: absolute;
    content: "_";
    height: 5px;
    width: 10px;
    color: #0075c8;
    font-weight: bolder;
    font-size: 20px;
    
}

.employee__textbox:hover {

    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    bottom: 30%;
    height: 100%;
    background-color: #fff;

}

.employee__textbox h3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;

}

.employee__textbox p {
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;

}

.employee__textbox:hover>.employee__contact {
    display: block;

}

.employee__contact {
    display: none;
    text-align: left;

}

.employee__contact p {
    padding: 9px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;


}

.employee__email {
    color: #0075c8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    

}

.linkedin-logo {
    position: fixed;
    bottom: 10%;
    right: 40px;
    height: 14px;
    width: 15px;
}
.linkedin-line{
    position: fixed;
    bottom:5%;
    right:45px;
    height:25px;
    width:3px;
    background-color: #000000;
    
}

@media(max-width:1024px) {
    .linkedin-logo {
        display: none;
    }

    .section-employees {
        width: 90%;

    }

    .employees__grid {
        grid-template-columns: repeat(4, minmax(100px, 0.5fr));
    }

    .employee__img {
        max-width: 200px;
    }

    .employee__textbox {
        margin-left: 15px;
    }
}

@media(max-width:800px){
    .employees__grid{
        grid-template-columns: repeat(2, minmax(100px, 0.5fr));
    }
    .employee__textbox{
        margin:0 auto;
        width: 70%;
        text-align: center;

    }
    .employee__textbox::before{
        left:40px;
    }
    .employee__textbox:hover::before{
        display:none;
    }
    .employee__contact{
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 600px) {
  

    .employee__textbox::before {
        left: -2px;
    }

   
   
}

@media(max-width:425px) {
    .employees__grid {
        grid-template-columns: repeat(2, minmax(85px, 0.5fr));
    }
}