.occupation__box {
    position: absolute;
    box-shadow: 0 2px 29px 0 rgba(0, 0, 0, 0.11);
    left: 605px;
    top: 250px;
    margin-right: 248px;
    background-color: white;
    width: 566px;
    height: 421px;


}

.sliderPosition {
    position: relative;
    width: 661px;
    height: 800px;
    grid-column: 3/8;
    grid-row: 1/8;
}

.occupation__img {
    height: 800px;
    width: 90%;
}

.occupation__textcontainer {
    padding-top: 65px;
    padding-left: 80px;
    padding-bottom: 62px;
    padding-right: 64px;

}

#verksamhet {
    margin-bottom: 150px;
}

.occupation__h2 {

    text-transform: uppercase;
    font-family: Roboto;
    font-size: 14px;
    margin-bottom: 8px;


}

.occupation__h2::before {
    width: 60px;
    height: 4px;
    left: 0px;
    top: 70px;
    background-color: #0075c8;

    position: absolute;
    content: "";
    color: #0075c8;
    font-weight: bolder;

}

.occupation__h3 {
    font-weight: bold;

    font-family: Roboto;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0;
}

.occupation__p {

    margin-top: 20px;
    font-family: Muli;
    font-size: 16px;
    font-weight: 100;

}



@media(max-width:1024px) {

    .sliderPosition {
        width: 550px;
        grid-column: 2/8
    }

    .occupation__textcontainer {
        padding-top: 45px;
        padding-left: 60px;
        padding-bottom: 52px;
        padding-right: 44px;

    }

    .occupation__box {
        left: 45%;
        top: 30%;
        margin-right: 0;
        width: 440px;
        height: 400px;
    }

    .occupation__h2::before {
        width: 40px;
        left: 0px;
        top: 13%;
    }
}

@media(max-width:768px) {


    .sliderPosition {
        width: 350px;
        grid-column: 2/8;
        margin-bottom: 20%;
    }

    .occupation__textcontainer {
        padding-top: 25px;
        padding-left: 40px;
        padding-bottom: 32px;
        padding-right: 25px;

    }

    .occupation__box {
        left: 19%;
        transform: translateX(33%);
        width: 60%;

        top: 65%;
        margin-right: 0;
        max-width: 380px;
        max-height: 380px;
    }

    .occupation__h2::before {
        width: 40px;
        left: 0px;
        top: 13%;
    }

    #verksamhet {
        margin-bottom: 40%;
    }

    .occupation__h2 {
        font-size: 2vw;
    }

    .occupation__h2::before {
        width: 30px;
        left: 0px;
        top: 8%;

    }

    .occupation__h3 {
        font-size: 2vw;
    }

    .occupation__p {
        font-size: 14px;
    }

}

@media(max-width:600px) {
    .sliderPosition {
        height: 600px;
    }

    .occupation__box {
        top: 35%;
    }

    #verksamhet {
        margin-bottom: 10%;
    }
}

@media(max-width:425px) {
    .occupation__h2 {
        font-size: 2.5vw;
    }

    .occupation__p {
        font-size: 11px;
    }

    .occupation__h3 {
        font-size: 3vw;
    }
}

@media(max-width:360px) {
    .sliderPosition {
        width: 500px;
        height: 500px;
    }

    .occupation__box {
        left: -28%;
        transform: translateX(33%);
        width: 83%;
        top: 50%;
        margin-right: 0;
        max-width: 380px;
        max-height: 321px;
    }

    .occupation__img {
        height: 500px;
    }

}