.grid__presentation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 0.2fr);
    margin-top: 150px;
    margin-bottom: 90px;
}

.presentation__text {
    /* padding-left:10px; */
    grid-column: 3;
    justify-content: end;
    background: white;
    color: black;
    font-size: 16px;
    font-weight:500;
    text-transform: uppercase;
}

.presentation__line {
    align-self: center;
    grid-column: 4/12;
    background: #0075c8;
    color: white;
    border-radius: 1000px;
    height: 6px;
}

@media(max-width:1024px) {

    .presentation__text {
        grid-column: 2/3;

        margin-right: 2%;
    }

    .presentation__line {
        margin-left: 2%;
        grid-column: 3/12;
    }
}


@media(max-width:768px) {

    .grid__presentation {

        margin-top: 6%;
        margin-bottom: 6%;
    }

    .presentation__text {
        grid-column: 2/4;

    }

    .presentation__line {
        grid-column: 4/12;
    }
}

@media(max-width:425px) {
    .presentation__line {
        grid-column: 6/12;
    }
}

@media(max-width:360px) {
    .presentation__text {
        font-size: 14px;
    }
}