.separator__img {
    margin-bottom: 7%;
    margin-top:3%;
    border: 0;
    height: 250px;
    background: url(../img/building.jpg) 0 0;
}



@media(max-width:768px) {


    .separator__img {

        height: 150px;
        width: 100%;
    }
}