.separator__img {
    margin-bottom: 20px;
    margin-top:40px;
    border: 0;
    height: 250px;
    background: url(../img/bakgrund.jpeg) 0 0;
}



@media(max-width:768px) {


    .separator__img {

        height: 150px;
        width: 100%;
    }
}