.showcase__wrapper {
    position: relative;
    width: 65%;
    margin: 60px auto;


}


.showcase__text {
    align-self: center;
    width: 50%;
    word-wrap: break-word;
    text-align: center;
    padding: 0px 50px 0px 50px;
    max-width: 460px;
    max-height: 550px;
    margin: 0 10px 0 10px;
    line-height: 1.5;

}

.showcase__image {
    width: 50%;
    background-size: cover;
    height: 100%;
    max-width: 460px;
    max-height: 550px;
    padding:10px;


}

.showcase__container {
    display: flex;

}
.showcase__container2 {
    display: flex;

}

.showcase__h1 {
    position: relative;
    text-align: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;


}

.showcase__h1:before {
    left: -70px;
    top: 7px;
    position: absolute;
    content: "";
    background-color: #0075c8;
    width: 50px;
    height: 5px;

}

.showcase__h2 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
}

.showcase__p {
    font-family: Muli;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    word-break: break-all;

}


.mb60 {
    margin-bottom: -60px;
}

.mb50 {
    margin-bottom: -50px;
}

.mb30 {
    margin-bottom: -30px;
}

.mb20 {
    margin-bottom: -20px;
}

.mb80 {
    margin-bottom: -80px;
}

@media(max-width:1124px) {
    .showcase__wrapper {
        width: 70%;
    }

    .showcase__image {
        width: 50%;
        margin: 0;
    }

    .showcase__text {
        align-self: center;
        width: 50%;
        word-wrap: break-word;
        text-align: center;
        padding: 0px 30px 0px 52px;
        max-width: 460px;
        max-height: 550px;
        margin: 0 10px 0 10px;
        line-height: 1.5;
    }

    .showcase__h1:before {
        left: -62px;
        width: 40px;
    }
    .mb50{
        margin-bottom: 20px;
    }
    .mb20{
        margin-bottom: 75px;
    }
}
@media(max-width:1028px){
    .showcase__wrapper {
        width: 82%;
    }
    .showcase__text{
        padding: 50px 20px 20px 52px;
        margin-bottom:20px;

    }
    .showcase__image{
        padding:10px;
    }
    .showcase__containermb50 {
        margin-top: -50px;
    }
    .showcase__containermb70 {
        margin-bottom: -70px;
    }
}
@media(max-width:768px) {
    .showcase__wrapper {
        width: 90%;
    }
    .showcase__containermb50 {
        margin-top: 0px;
    }
    .showcase__containermb70 {
        margin-bottom: 0px;
    }
    .showcase__container {
        flex-direction: column;
    }
   

    .showcase__image {
        width: 100%;
        margin: 0 auto;
        max-height: 300px;
    }

    .showcase__text {
        padding: 0;
        width: 70%;
        max-width: none;
        text-align: center;

        /* padding: 0; */

        max-height: 550px;
        margin: 20px;
        line-height: 1.5;
    }

    .showcase__container2 {
        flex-direction: column-reverse;
    }

    .showcase__h1:before {
        left: 0%;
        width: 10%;
    }

    .showcase__h1:after {
        top: 7px;
        position: absolute;
        content: "";
        background-color: #0075c8;
        width: 10%;
        height: 5px;
        right: 0;
    }

    .showcase__h1 {
        width: 100%;
        padding-left: none;
        text-align: center;
    }

    .showcase__h2 {
        text-align: center;
    }

    .showcase__p {
        text-align: center;
    }
}

@media(max-width:425px) {
    
    .showcase__text {
        width: 90%;
    }

    .showcase__h1:before {
        width: 5%;
    }

    .showcase__h1:after {
        width: 5%;
    }
}